@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
             <div class=" mt-5" style="height: 560px;">
   <div><i class="bi bi-check-circle" style="font-size:100px; color: green"></i></div>
          <h2>Thank you. Your order is confirmed</h2>
            <p class="mb-4">Your order is on the way</p>
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />

    </div>
</div> 